.x-container.offset {
    margin: .25em auto !important;
}
.x-container.width {
    width: 100% !important;
}
.entry-wrap{
    padding: 10px !important;
}

/* MATERIALIZE CHANGES */

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: #f6f6f6;
    border: 1px solid #9e9e9e;
    border-bottom: 2px solid #9e9e9e;
    height: 2rem;
    text-align: center;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 2px solid #E87722;
    -webkit-box-shadow: 0 1px 0 0 #E87722;
    box-shadow: 0 1px 0 0 #E87722;
}
select {
    display:inherit !important;
    background-color: #f6f6f6;
    border: 1px solid #9e9e9e;
    border-bottom: 2px solid #9e9e9e;
    height: 2.5rem;
    text-align: center;
}
select:focus {
    outline: 1px solid #75787B;
}

select#org option:hover {
    background-color: #ED8B00 !important;
    box-shadow: 0 0 10px 100px #1882A8 inset !important;
}

/* VT BACKGROUND COLORS */
.vt-lt-orange {
    background: #ED8B00;
}
.vt-orange {
    background: #E87722;
}
.vt-dk-orange {
    background: #C64600;
}
.vt-maroon {
    background: #861F41;
}
.vt-lt-grey {
    background: #E5E1E6;
}
.vt-grey {
    background: #D7D2CB;
}
.vt-dk-grey {
    background: #75787B
}
.vt-purple {
    background: #642667;
}
.vt-pink {
    background: #CE0058;
}
.vt-yellow {
    background: #F7EA48;
}
.vt-teal {
    background: #508590;
}
.vt-turquoise {
    background: #2CD5C4;
}
.vt-dk-blue {
    background: #003C71;
}

/* VT TEXT COLORS */
.vt-txt-grey {
    color: #75787B;;
}
.vt-txt-white {
    color: #fff;
}
.vt-txt-charcoal {
	color: #333;
}
.h1-text {
    font-size:175%;
    font-weight:700;
}
.h2-text {
    font-size:190%;
    font-weight:700;
}
.h3-text {
    font-size:155%;
    font-weight:700;
    letter-spacing: .1em; 
}
.h4-text {
    font-size:145%;
    font-weight:700;
    letter-spacing: .1em; 
}
.h5-text {
    font-size:135%;
    font-weight:700;
    letter-spacing: .1em; 
}
.h6-text {
    font-size:125%;
    font-weight:700;
    letter-spacing: .05em; 
}
.lw-100 {
    width: 100%;
}
.lw-90 {
    width: 100%;
}
.lw-80 {
    width: 100%;
}
.lw-70 {
    width: 100%;
}
.lw-250 {
    width: 250px;
}
.lh-35 {
    line-height: 35px;
}
.lh-30 {
    line-height: 30px;
}
.lh-25 {
    line-height: 25px;
}
.lh-20 {
    line-height: 20px;
}
/* FIXED ASSETS ELEMENTS*/
#asset-container {
    width: 100%;
    background: #45484b;
    padding: 10px;
}
#app-title-block {
	padding: 5px; 
}
#app-admin-block {
	padding: 5px; 
}
#app-title-block > button.title-block {
	background: #D7D2CB;
    border-radius: 2px;
	border: 1px solid rgba(255,255,255,0.25);
    border-left: 4px solid rgba(255,255,255,0.25); 
	border-right: 4px solid rgba(255,255,255,0.25); 
    font-weight: 700; 
    font-size: 175%; 
	text-align: center;
    color: #333;
	width: 100%;
}
#app-admin-block > button.admin-block {
	background: #D7D2CB;
    border-radius: 2px;
	border: 1px solid rgba(255,255,255,0.25);
    border-left: 4px solid rgba(255,255,255,0.25); 
	border-right: 4px solid rgba(255,255,255,0.25); 
    font-weight: 700; 
    font-size: 175%; 
	text-align: center;
    color: #333;
	width: 100%;
}
#asset-alerts {
    padding: 5px; 
    background: #642667;
    border-radius: 2px;
	border: 1px solid rgba(255,255,255,0.25);
    border-left: 4px solid rgba(255,255,255,0.25); 
    font-weight: 700; 
    font-size: 12px; 
    color: #fff;
}
#add-asset {
    padding: 5px; 
    background: #642667;
    border-radius: 3px; 
    border-left: 4px solid rgba(255,255,255,.4); 
    font-weight: 700; 
    font-size: 12px; 
    color: #fff;
}
.add-asset-text {
    font-size: 120%; 
    padding-left: 10px; 
    line-height:25px;
    font-weight: 700;
}
.add-asset-btn {
    color: #333 !important;
    background: rgba(255,255,255,0.75) !important;
    max-height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-weight: 700;
}
#addTicketNotes {
	display: none;
}
#addAssetNotes {
	
}
#asset-view {
    transition: margin-left .4s;
    position: absolute;
    background-color: #E5E1E6;
    height: auto;
    width: 100%;
    padding-left: 0px;
    padding-top: 0px;
    z-index: 10;
}
#asset-view::-webkit-scrollbar {
    display: none;
}
.asset-block {
    box-sizing: border-box;
    min-height: 50px;
/*	border: 1px solid rgba(255,255,255,0.25);
    border-radius: 2px 2px 2px 2px; */
    padding: 0px !important;
}
.block-header {
    background: rgba(0,0,0,.3);
    min-height: 15px; 
    border-radius: 3px 3px 0px 0px; 
    padding: 3px !important;
    margin-bottom: 5px;
}
.block-footer {
    background: rgba(0,0,0,.2);
    min-height: 15px; 
    border-radius: 0px 0px 3px 3px; 
    padding: 3px !important;
    margin-top: 10px;
}
.biggertext {
    font-size:190%;
    font-weight:700;
    letter-spacing: .1em; 
    line-height: 20px;
    padding-left: 10px !important;
    padding-top: 10px !important;
}
.bigtext {
    font-size:150%;
    font-weight:700;
    letter-spacing: .1em; 
    line-height: 20px;
    padding-left: 10px !important;
    padding-top: 10px !important;
}
.block-headtext {
    font-size:140%;
    font-weight:700;
    text-transform: uppercase;
    letter-spacing: .05em; 
}
.block-bigtext {
    font-size:115%;
    font-weight:700;
    line-height: 25px;
    padding-top: 0px !important;    
    padding-left: 10px !important;    
}
.block-text {
    font-size:100%;
    font-weight:400; 
    line-height: 20px;
    padding-top: 0px !important;    
    padding-left: 10px !important;
}
.subtext {
    font-size:100%;
    font-weight:400; 
    line-height: 20px;
    padding-left: 10px !important;
    padding-top: 10px !important;
}
.subtext-right {
    font-size:100%;
    font-weight:400; 
    line-height: 20px;
    padding-right: 10px !important;
    padding-top: 10px !important;
    text-align: right;
}
.asset-list-header {
    background: #fff; 
    padding:5px 0px !important;
    border-top: 3px solid #D7D2CB; 
    border-top-left-radius:3px; 
    border-top-right-radius:3px;
    border-bottom: 1px solid #D7D2CB;
    font-weight: 700; 
    font-size: 80%;
}
.asset-list-footer {
    background: #fff; 
    padding:5px 0px !important;
    border-bottom: 3px solid #D7D2CB; 
    border-bottom-left-radius:3px; 
    border-bottom-right-radius:3px;
    border-top: 0px solid #D7D2CB;
    font-weight: 700; 
    font-size: 70%;
    min-height: 25px;
    height: 25px;
}
.asset-list {
    background: #fff; 
    padding: 5px 0px !important;
    padding-bottom: 0px !important;
    border: 0px; 
    border-bottom: 1px solid #D7D2CB;
    font-weight: 400; 
    font-size: 75%;
    line-height: 20px;
}
.asset-show {
	height: 115px;
    line-height: 20px;
}
.asset-toggle {
	width: 18px;
	height: 18px;
	border: 0;
	border-radius: 50%;
	padding: 0px;
	text-align: center;
	font-weight: 700;
	font-size: 15px;
    background: #861F41;
    line-height: 20px;
    box-shadow: none;
    color: #fff;
}
.asset-toggle:hover {
    background: #e87222;
    box-shadow: none;
}
.asset-toggle:focus {
    background: #e87222;
    box-shadow: none;
    border: none;
}    
.asset-action {
    background: transparent !important;
	border: 0 !important;
	padding: 0px;
	text-align: center;
    line-height: 20px;
    color:#861F41;
}
.asset-action:hover {
    color: #e87222;
}
.asset-action:focus {
    color: #e87222;;
}
.asset-status {
    box-sizing: border-box;
	padding: 0px;
	text-align: center;
	font-weight: 700;
	font-size: 100%;
    height: 20px;
    width: 80%;
    border: 0px;
    border-radius: 3px;
    margin-top: -1px;
    margin: 0px auto;
}
.asset-office {
    font-size: 135%;
    background: #060 !important;
    color: #fff;
}
.asset-home {
    font-size: 135%;
    background: #fd0 !important;
    color: #000;
}
.asset-missing {
    font-size: 135%;
    background: #900 !important;
    color: #fff;
    letter-spacing: .2em;
}
.asset-pending {
    font-size: 135%;
	background: #46c !important;
    color: #fff;
    line-height: 20px;
}
.admin-list-heading {
	background: rgba(255,255,255,.2); 
	padding-top: 5px !important; 
	padding-bottom: 3px !important;
	border-bottom: 1px solid rgba(255,255,255,.3);
}
/* SIDEBAR AND CONTENT CONTAINERS */
#sidebar {
    transition: margin-left .4s;
/*    transition: left .4s;     */
    position: sticky;
    display: inline-block;
    top: 0px;
/*    left: -255px;  */
    width: 300px;
/*    height: 100%; */
    margin-top: -20px;
    margin-left: -280px;
    color: #fff;
    background-color: #E87722;
    padding: 0px;
    overflow: auto;
    z-index: 500;
}
#sidebar::-webkit-scrollbar {
    display: none;
}

a.btn-menu {
    margin: 0px;
    outline: 0;
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 45px;
    height: 45px;
    line-height: 40px;
    padding: 2px;
    background-color: #e87722;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
}

/* BEGIN FAA STYLING */

.info-title {
	font-weight: 700;
	color: #E87722;
}
.small-title {
	margin-top: 4px;
}
.modal {
    width: 45% !important;
    margin:0 auto;
    
    border: none;
    border-radius: 3px !important;
    position: fixed;
    left: 0;
    right:0;
    top: 50% !important; 
    overflow-y: visible !important;

    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%) !important;
}
.modal .modal-content {
    padding: 0px !important;
}
.faa-modal-content {
    background: #efefef;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 0px;
}
.faa-modal-title {
    background: #333;
    line-height: 35px;
    color: #fff;
    padding: 10px;
    margin-bottom: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.faa-modal-header{
    padding: 0px;
    border-top-left-radius: 3px;
}
.faa-modal-header button {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px;
    color: #fff;
    background: rgba(0,110,255,1);
    border-radius: 0px;
    opacity: 1;
}
.faa-modal-body {
    padding: 30px;
    padding-bottom: 0px;
}
.faa-modal-info {
    border: 1px solid #aaa; 
    padding: 10px; 
    background: #fff; 
    border-radius: 0px;
}
.modal .modal-footer {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.btn-primary {
    background: #e87722; 
}
.btn-primary:focus {
    background: #861F41;
    border: none;
}
.btn-primary:hover {
    background: #861F41;
}
.btn-secondary {
    background: #cfcfcf; 
}
.btn-secondary:focus {
    background: #aaa;
    border: none;
}
.btn-secondary:hover {
    background: #aaa;
}
.btn {
    border: none;
}
.btn:focus {
    border: none;
    outline: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 1px solid #333;
}
.home-generate {
	width: 95% !important;
	font-size: 80% !important;
}
.home-upload {
	width: 95% !important;
	font-size: 80% !important;
}
.form-upload {
	width: 95% !important;
	font-size: 65% !important;
	font-weight: 700;
	text-align: center;
	padding: 1px;
	max-height: 20px;
	line-height: 20px;
}
.ticket-complete {
	width: 95% !important;
	font-size: 65% !important;
	font-weight: 700;
	text-align: center;
	padding: 1px;
	max-height: 20px;
	line-height: 20px;
}
.report-button {
	width: 95% !important;
	font-size: 65% !important;
	font-weight: 700;
	text-align: center;
	padding: 1px;
	max-height: 20px;
	line-height: 20px;
	margin-bottom: 4px;
}
[type="checkbox"] + label {
	padding-left: 0px !important;
	height: 15px !important;
	line-height: 15px !important;
}
[type="checkbox"].filled-in:not(:checked) + label:after {
	height: 15px !important;
	width: 15px !important;
}
[type="checkbox"].filled-in:checked + label:before {
	top: -1px !important;
	left: 0px !important;
	width: 7px !important;
	height: 11px !important;
	border-top: 0 !important;
	border-left: 0 !important;
}
[type="checkbox"].filled-in:checked + label:after {
	width: 15px !important;
	height: 15px !important;
	border: 2px solid #e87722 !important;
	background-color: #e87722 !important;
}
[type="checkbox"].filled-in:not(:checked) + label:after {
	width: 15px !important;
	height: 15px !important;
	border: 2px solid #ddd !important;
}
[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
	
}
/*==============  Gallery CSS  ==============*/
slider-for{
    width: 500px;
    height: 250px;
    margin: 30px auto 1px;
    overflow: hidden;
    position: relative;
}


.slider-for img{
    margin: 0px auto !important;
    /*max-height: 350px !important;*/
}
.slider-nav{
    width: 500px;
    height: 85px;
    margin: auto;
}
.slider-nav img {
    min-height: 85px !important;
}
.slider-nav .slick-track{
    height: 85px;
    background-color: #333 !important;
}
.slick-slider .slick-next, .slick-slider .slick-prev {
    top: 0px !important;
    height: 100% !important;
    line-height: 100px !important;
    border: none !important;
    background-color: rgba(255,255,255,0.5) !important;
    color: #000 !important;
    font-size: 30px;
    opacity: 1;
}
.slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 50;
    margin-top: 0px;
}
.slick-arrow:hover {
    color: #E87722 !important;
}
.slick-prev{
    left: 0;
}
.slick-next{
    right: 0;
}
.slide__caption {
    bottom: 0;
    min-height: 80px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}

/* Style tab links */
.tablink {
  	background-color: #8c8c88;
  	color: white;
  	float: center;
  	border: 1px solid rgba(255,255,255,0.25);
  	outline: none;
  	cursor: pointer;
  	padding: 2px 2px;
	width: 97%;
	font-size: 90%;
	font-weight: 700;
	letter-spacing: .05em;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.cl .tabcontent {
  color: white;
  display: none;
  padding: 20px;
  height: 100%;
}

#PendingTransfers {
	background-color: #508590;
	border: 1px solid rgba(255,255,255,0.25);
	padding: 0px !important;
}
#PendingSurplus {
	background-color: #861F41;
	border: 1px solid rgba(255,255,255,0.25);
	padding: 0px !important;
}
#PendingTickets {
	background-color: #C64600;
	border: 1px solid rgba(255,255,255,0.25);
	padding: 0px !important;	
}
#Reports {
	background-color: #D7D2CB;
	border: 1px solid rgba(255,255,255,0.25);
	padding: 0px !important;
}


/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

@media (min-width: 200px) {
    .biggertext {
        font-size:130%;
    }
    .bigtext {
        font-size:90%;
    }
    .subtext {
        font-size:80%;
    }
    .block-footer {
        padding: 3px !important;
        margin-top: 10px;
        font-size: 80%;
    }
    .add-asset-text {
        font-size: 105%; 
        min-height: 20px !important;
        line-height: 20px;
        text-align: center !important;
    }
    .add-asset-btn {
        max-height: 20px;
        line-height: 20px;
        font-size: 90%;
        width: 100% !important;
		box-shadow: none !important;
    }
    .add-asset-btn-div {
        text-align: center !important;
    }
    .make-small {
        max-height: 5px !important;
    }
    .asset-list {
        margin-bottom: 10px !important;
        border-radius: 3px;
    }
    .asset-status {
        margin-top: 3px;
        margin-bottom: 3px;
        width: 95%;
    }
    .asset-actions {
        margin-top: 5px;
        margin-bottom: 3px;
        font-size: 180%;
        padding: 0px !important;
    }
    .block-headtext {
        font-size:110%;
        line-height: 18px;
    }
    .block-bigtext {
        font-size:100%;
        line-height: 20px;
    }
    .block-text {
        font-size:80%;
        line-height: 17px;
    }
    .modal {
        width: 90% !important;
    }
    .faa-modal-title {
        font-size: 150%;
    }
    .home-generate {
        width: 95% !important;
        font-size: 80% !important;
    }
    .home-upload {
        width: 95% !important;
        font-size: 80% !important;
    }
    .home-file {
        width: 95% !important;
    }
    .forms-modal-left {
        padding: 5px !important; 
        padding-top: 10px !important; 
        border: 1px solid #ccc; 
    }
    .forms-modal-center {
        padding: 5px !important; 
        padding-top: 10px !important;
        border-top: 0px !important;
        border: 1px solid #ccc; 
    }
    .forms-modal-right {
        padding: 10px !important; 
        border: 1px solid #ccc;
        border-top: 0px !important;
    }
    .new-custodian {
        width: 95%;
        margin: 0px auto;
        background: #efefef;
        padding: 0px;
    }
    .new-custodian-title {
        background: #333;
        color: #fff;
        padding: 5px;
        margin: 0px;
        border-radius: 5px 5px 0px 0px;
        font-size: 90%;
    }
    .new-custodian-info {
        border: 1px solid #aaa; 
        padding: 10px; 
        background: #fff; 
        border-radius: 0px 0px 5px 5px;
    }
    .col-1 {
        text-align: center !important;
        font-size: 80% !important;
    }

    .col-2 {
        text-align: center !important;
        font-size: 80% !important;
    }
    .col-3 {
        text-align: center !important;
        font-size: 80% !important;
    }
    .col-4 {
        text-align: center !important;
        padding-left: 10px;
        padding-right: 10px;
    }
}


/* Small devices (landscape phones, 400px and up) */
@media (min-width: 420px) {
     .add-asset-text {
        font-size: 120%; 
    }
    .biggertext {
        font-size:180%;
    }
    .bigtext {
        font-size:120%;
    }
    .subtext {
        font-size:90%;
    }
    .block-footer {
        padding: 3px !important;
        margin-top: 10px;
        font-size: 90%;
    }
    .block-headtext {
        font-size:110%;
        line-height: 18px;
    }
    .block-bigtext {
        font-size:100%;
        line-height: 20px;
    }
    .block-text {
        font-size:80%;
        line-height: 17px;
    }
    .home-generate {
        width: 95% !important;
        font-size: 100% !important;
    }
    .home-upload {
        width: 95% !important;
        font-size: 70% !important;
    }
    .home-file {
        width: 95% !important;
    }
    .forms-modal-left {
        padding: 5px !important; 
        padding-top: 10px !important; 
        border: 1px solid #ccc; 
    }
    .forms-modal-center {
        padding: 5px !important; 
        padding-top: 10px !important; 
        border: 1px solid #ccc; 
    }
    .forms-modal-right {
        padding: 10px !important; 
        border: 1px solid #ccc !important;
        border-top: 0px !important;
        height: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #asset-container {
        margin-top: 0px;
    }
    .nav-tabs > li {
        width: 25%;
        outline: 0px;
    } 

    .asset-list-header {
        font-size: 65%;
    }
    .asset-list {
        font-size: 60%;
        line-height: 20px;
        margin-bottom: 0px !important;
        border-radius: 0px !important;
    }
    .asset-actions {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 130%;
        line-height: 20px;
    }
    .asset-status {
        margin-top: 0px;
        margin-bottom: 0px;
        width: 90%;
    }
    .make-small {
        max-height: unset !important;
    }
    .bigtext {
        font-size:100%;
    }
    .block-headtext {
        font-size:100%;
        line-height: 18px;
    }
    .block-bigtext {
        font-size:100%;
        line-height: 20px;
    }
    .block-text {
        font-size:80%;
        line-height: 17px;
    }
    .asset-list-header {
        font-size: 55% !important;
    }
    .asset-office {
    font-size: 125%;
    }
    .asset-home {
        font-size: 125%;
    }
    .asset-missing {
        font-size: 125%;
    }
    .asset-pending {
        font-size: 125%;
    }
    .modal {
        width: 90% !important;
    }
    .home-generate {
        width: 95% !important;
        font-size: 85% !important;
    }
    .home-upload {
        width: 95% !important;
        font-size: 85% !important;
    }
    .home-file {
        width: 90%;
    }
    .forms-modal-left {
        padding: 5px !important; 
        padding-top: 10px !important; 
        border: 1px solid #ccc !important; 
        border-right: 0px !important;
    }
    .forms-modal-center {
        padding: 5px !important; 
        padding-top: 10px !important; 
        border: 1px solid #ccc !important;
    }
    .forms-modal-right {
        padding: 10px !important; 
        border: 1px solid #ccc !important;
        border-top: 0px !important;
        height: 100%;
    }
    .col-1 {
        text-align: left !important;
        padding-left: 5px !important;
        font-size: 100% !important;
    }

    .col-2 {
        text-align: left !important;
        font-size: 100% !important;
    }
    .col-3 {
        text-align: left !important;
        font-size: 100% !important;
    }
    .col-4 {
        text-align: left !important;
        font-size: 100% !important;
    }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #asset-container {
        margin-top: 0px;
    }
    .add-asset-text {
        font-size: 90%; 
        padding-left: 10px !important; 
        min-height: 20px !important;
        line-height: 20px;
        text-align: left !important;
    }
    .add-asset-btn-div {
        text-align: right !important;
    }
    .asset-list-header {
        font-size: 80% !important;
    }
    .asset-list {
        font-size: 70%;
        line-height: 20px;
    }
    .asset-actions {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 120%;
        line-height: 20px;
    }
    .asset-status {
        margin-top: 0px;
        margin-bottom: 0px;
        width: 90%;
        font-size: 130%;
    }
    .block-headtext {
        font-size: 85%;
        line-height: 18px;
    }
    .block-bigtext {
        font-size: 90%;
        line-height: 20px;
    }
    .block-text {
        font-size: 80%;
        line-height: 17px;
    }
    .emp-info-outside {
        display: flex !important;
    }
    .emp-info-inside {
        display: inline-flex;
    }
    .x-navbar .desktop .x-nav > li > a:not(.x-btn-navbar-woocommerce) {
        font-size: 8px !important;
    }
    .modal {
        width: 75% !important;
    }
    .home-generate {
        width: 95% !important;
        font-size: 95% !important;
    }
    .home-upload {
        width: 95% !important;
        font-size: 95% !important;
    }
    .home-file {
        width: 90%;
    }
    .forms-modal-left {
        padding: 5px !important; 
        padding-top: 10px !important; 
        border: 1px solid #ccc !important; 
        border-right: 0px !important;
    }
    .forms-modal-center {
        padding: 5px !important; 
        padding-top: 10px !important; 
        border: 1px solid #ccc !important;
    }
    .forms-modal-right {
        padding: 10px !important; 
        border: 1px solid #ccc !important;
        border-top: 0px !important;
        height: 100%;
    }
	.admin-list-heading {
		font-size: 70% !important;
	}
	.block-text > form {
		font-size: 90% !important;
	}
	.block-text > form .report-button {
		font-size: 95% !important;
	}
	.admin-block-line {
		margin-bottom: 5px !important;
	}
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .x-navbar .desktop .x-nav > li > a:not(.x-btn-navbar-woocommerce) {
        font-size: 11px !important;
    }
    .modal {
        width: 50% !important;
    }
    #reportsModal {
        width: 50% !important;
    }
	.admin-list-heading {
		font-size: 70% !important;
	}
	.block-text > form {
		font-size: 90% !important;
	}
	.block-text > form .report-button {
		font-size: 95% !important;
	}
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
     .asset-list-header {
        font-size: 100%;
    }
    .asset-list {
        font-size: 90%;
        line-height: 20px;
    }
    .asset-actions {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 120%;
        line-height: 20px;
    }
    .asset-status {
        margin-top: 0px;
        margin-bottom: 0px;
        width: 90%;
        font-size: 120%;
        min-height: 25px !important;
        line-height: 25px;
    }
    .forms-modal-left {
        padding: 5px !important; 
        padding-top: 10px !important; 
        border: 1px solid #ccc; 
        border-right: 0px;
    }
    .forms-modal-center {
        padding: 5px !important; 
        padding-top: 10px !important; 
        border: 1px solid #ccc; 
        border-right: 0px;
    }
    .forms-modal-right {
        padding: 10px; 
        border: 1px solid #ccc;
    }
    .new-custodian {
        width: 65%;
        margin: 0px auto;
        background: #efefef;
        padding: 0px;
    }
    .new-custodian-title {
        background: #333;
        line-height: 35px;
        color: #fff;
        padding: 10px;
        margin: 0px;
        border-radius: 5px 5px 0px 0px;
    }
    .new-custodian-info {
        border: 1px solid #aaa; 
        padding: 10px; 
        background: #fff; 
        border-radius: 0px 0px 5px 5px;
    }

    
}
