@charset "utf-8";
/* BEGIN PARADOX GRID SETUP */

@import 'paradox-tiny.css';
@import 'paradox-small.css';
@import 'paradox-medium.css';
@import 'paradox-large.css';
@import 'paradox-xlarge.css';
@import 'paradox-xxlarge.css';

:root {
    --col-1: 5%;
    --col-2: 10%;
    --col-3: 15%;
    --col-4: 20%;
    --col-5: 25%;
    --col-6: 30%;
    --col-7: 35%;
    --col-8: 40%;
    --col-9: 45%;
    --col-10: 50%;
    --col-11: 55%;
    --col-12: 60%;
    --col-13: 65%;
    --col-14: 70%;
    --col-15: 75%;
    --col-16: 80%;
    --col-17: 85%;
    --col-18: 90%;
    --col-19: 95%;
    --col-20: 100%;
}
html {

}

/* GRID STRUCTURE */

.rw {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.rw:after {
    content: "";
    display: table;
    clear: both;
}
.rw .cl {
    float: left;
    -webkit-box-sizing: border-box;
          box-sizing: border-box;
    padding: 0px;
    min-height: 1px;
}

/* UTILITY ITEMS */
.hide {
  display: none !important;
}
.text-left {
  text-align: left;
}
.text-left-first {
    text-align: left;
    padding-left: 10px !important;
}
.text-right {
  text-align: right;
}
.text-right-last {
    text-align: right;
    padding-right: 10px !important;
}
.center, .text-center {
  text-align: center;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.circle {
  border-radius: 50%;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.no-pad {
  padding: 0 !important;
}

.no-overflow {
	overflow: hidden;
}

/* DEFAULT ALL SCREEN GRID */

@media only screen and (min-width: 200px) and (max-width: 599px) {
  .hide-small, .hide-small-down {
    display: none !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .hide-medium {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  .hide-large {
    display: none !important;
  }
}
@media only screen and (min-width: 1201px) {
  .hide-xlarge {
    display: none !important;
  }
}
@media only screen and (max-width: 992px) {
  .hide-medium-down {
    display: none !important;
  }
}
@media only screen and (max-width: 1200px) {
  .hide-large-down {
    display: none !important;
  }
}
@media only screen and (max-width: 1600px) {
  .hide-xlarge-down {
    display: none !important;
  }
}
@media only screen and (min-width: 601px) {
  .hide-medium-up {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  .show-large {
    display: block !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .show-medium {
    display: block !important;
  }
}

@media only screen and (max-width: 600px) {
  .show-small {
    display: block !important;
  }
}

@media only screen and (min-width: 601px) {
  .show-medium-up {
    display: block !important;
  }
}

@media only screen and (max-width: 992px) {
  .show-medium-down {
    display: block !important;
  }
}

@media only screen and (max-width: 600px) {
  .center-small {
    text-align: center;
  }
}

/* T Extra small devices (portrait phones, less than 576px) */
@media (max-width: 400px) {
    
}

/* S Small devices (landscape phones, 576px and up) */
@media (min-width: 401px) {
    
}

/* M Medium devices (tablets, 768px and up) */
@media (min-width: 601px) {

}

/* L Large devices (desktops, 992px and up) */
@media (min-width: 993px) {
    
}

/* XL Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1201px) {
    
}

/* XXL Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1601px) {

}

/* END PARADOX GRID SETUP */