@charset "utf-8";

html {

}

/* BEGIN SIDENAV MENU */
.nav-wrapper {
    background: #861F41;
}

.side-nav li > a {
  padding: 0 16px;
}

.side-nav .divider {
  margin: 0;
  height: 8px;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
}

.sidenav-header {
  background: url("../images/user-bg.jpg") no-repeat center center;
  background-size: cover;
  margin-bottom: 0px;
  padding: 15px 0 0 15px;
}
.sidenav-header .row {
  margin-bottom: 0;
}

.sidenav-footer {
  margin-bottom: 0px;
  padding: 0;
}
.sidenav-footer .row {
  margin-bottom: 0;
}
.sidenav-footer .row .social-icons a {
  opacity: 0.5;
  padding: 0;
  text-align: center;
}
.sidenav-footer .row .social-icons a:hover {
  background-color: inherit;
  opacity: 1;
}

/* END SIDENAV MENU*/


/* BEGIN PURE.CSS MODIFICATIONS */

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 14px;
}


/* END PURE.CSS MODIFICATIONS */

/* BEGIN BOOTSTRAP MODIFICATIONS*/

.nav-tabs > li {
    width: 50%;
    padding: none !important;
}
.nav-tabs .nav-link {
    border-radius: 0rem !important;
    outline: none;
    border: 1px solid #ccc;
}
.nav-tabs .nav-link:hover{
    border: 1px solid #861F41;
    background: #E87722;
    color: #fff;
}
.nav-tabs .nav-link.disabled {
    border: 1px solid #ccc;
}
.nav-tabs .nav-link.disabled:hover {
    background: #fff;
    color: #777;
}
.nav-tabs > li > a {
    text-align: center;
    color: #333;
    background: #efefef;
    text-transform: uppercase; 
    font-weight: 700;
    letter-spacing: .1rem;
}

.nav-tabs > li.active {
    text-align: center;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: #861F41;
    border-color: #333;
    color: #FFF;
    text-transform: uppercase; 
    font-weight: 700;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:hover {
    border-color: #000;
}
.tab-content {
    border: 1px solid #ccc;
    border-top: 0px;
    padding: 10px;
}
/* END BOOTSTRAP MODIFICATIONS*/

/* BEGIN FAA STYLING */

.faa-container {
	width: 100%;
	border: none;
	padding: 20px;
}
.faa-reports {
    position: ;
    top: 30px;
	width: 100%;
	border: none;
	padding: 20px;
}
.faa-header {
	background: #333;
	color: #fff;
	border-radius: 5px;
	height: 35px;
	padding: 0px;
	line-height: 0px;
    text-align: center;
}
.faa-header-active {
	background: #333;
	color: #fff;
	border-radius: 0px;
	height: 35px;
	line-height: 0px;
    text-align: center;
}
.faa-header-inactive {
	background: #ddd;
	color: #666;
	border-radius: 0px;
	height: 35px;
	line-height: 0px;
    text-align: center;
}
.faa-content {
	background: #efefef;
	border: 1px solid #333;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 20px !important;
	padding: 10px;
}
.faa-asset {
	height: 45px;
	min-height: 45px;
	background: #fff;
	border: 1px solid #333;
	border-radius: 5px;
	padding: 2px;
    padding-left: 5px;
	margin-top: 2px;
    margin-bottom: 10px;
    line-height: 20px;
	overflow: hidden;
}
.faa-asset-show {
	height: 125px;
}
.faa-asset-status {
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
}
.faa-toggle {
	position: absolute;
	right: 0px;
    top: 5px;
	width: 45px;
	height: 45px;
	border: 1px solid #333;
	border-radius: 5px;
	padding: 0px;
	padding-bottom: 1px;
	margin-top: -6px;
	margin-right: -1px;
	text-align: center;
	font-weight: 700;
	font-size: 250%;
    background: none;
    line-height: 35px;
}
.faa-asset-status {
	padding: 2px;
    padding-left: 0px;
	text-align: center;
	font-weight: 900;
	font-size: 175%;
    line-height: 39px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-top: 2px;
}
.faa-asset-status-office {
    background: #060 !important;
    color: #fff;
}
.faa-asset-status-home {
    background: #fd0 !important;
    color: #000;
}
.faa-asset-status-missing {
	background: #900 !important;
    color: #fff;
}
.faa-asset-status-pending {
	background: #46c !important;
    color: #fff;
}
.faa-icon-transfer {
	margin: 0px auto;
	height: 45px;
	width: 45px;
    border: none !important;
    outline: none !important;
	background: url(../icons/transfer.svg) no-repeat;
}
.faa-icon-transfer:hover {
	height: 45px;
	width: 45px;
	background: url(../icons/transfer_h.svg);
}
.faa-icon-surplus {
	margin: 0px auto;
	height: 45px;
	width: 45px;
    border: none !important;
    outline: none !important;
	background: url(../icons/surplus.svg);
}
.faa-icon-surplus:hover {
	height: 45px;
	width: 45px;
	background: url(../icons/surplus_h.svg);
}
.faa-icon-gallery {
	margin: 0px auto;
	height: 45px;
	width: 45px;
    border: none !important;
    outline: none !important;
	background: url(../icons/gallery.svg);
}
.faa-icon-gallery:hover {
	height: 45px;
	width: 45px;
	background: url(../icons/gallery_h.svg);
}
.faa-icon-forms {
	margin: 0px auto;
	height: 45px;
	width: 45px;
    border: none !important;
    outline: none !important;
	background: url(../icons/forms.svg);
}
.faa-icon-forms:hover {
	height: 45px;
	width: 45px;
	background: url(../icons/forms_h.svg);
}
.s1 {
	font-size: 200%;
	font-weight: 700;
}
.s2 {
	font-size: 175%;
	font-weight: 700;
}
.s3 {
	font-size: 150%;
	font-weight: 700;
}
.s4 {
	font-size: 125%;
	font-weight: 700;
}
.s5 {
	font-size: 100%;
	font-weight: 700;
}
.info-title {
	font-weight: 700;
	color: #E87722;
}
.small-title {
	margin-top: 4px;
}
.faa-modal-content {
    background: #efefef;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 0px;
}

.faa-modal-title {
    background: #333;
    line-height: 35px;
    color: #fff;
    padding: 10px;
}
.faa-modal-header{
    padding: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.faa-modal-header button {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px;
    color: #fff;
    background: rgba(0,110,255,1);
    border-radius: 5px;
    opacity: 1;
}
.modal {
    text-align: center;
    padding-right: 0px;
}
.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 50%;
}
.faa-modal-body {
    padding: 30px;
    padding-bottom: 0px;
}
.faa-modal-info {
    border: 1px solid #aaa; 
    padding: 10px; 
    background: #fff; 
    border-radius: 5px;
}
.faa-input {
    border: 1px solid #aaa;
    background: #fff;
}
.btn-primary {
    background: #e87722; 
}
.btn-primary:focus {
    background: #861F41;
    border: none;
}
.btn-primary:hover {
    background: #861F41;
}
.btn-secondary {
    background: #cfcfcf; 
}
.btn-secondary:focus {
    background: #aaa;
    border: none;
}
.btn-secondary:hover {
    background: #aaa;
}
.btn {
    border: none;
}
.btn:focus {
    border: none;
    outline: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 1px solid #333;
}

/*==============  Gallery CSS  ==============*/
.carousel-control:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}
.carousel-control {
    opacity: 1;
    font-size: 40px;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .1) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .1) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, .1)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .1) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .1) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, .1)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-text {
    display: inline-block;
    opacity: 1;
    height: 100%;
}
ul.thumbnails {
    list-style-type: none;
    margin-top: 10px
}
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .nav-tabs > li {
        width: 25%;
        outline: 0px;
    }   
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

